[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:not(:disabled):not(.disabled):hover {
    color: white;
    background-color: #909aa2;
    border-color: #909aa2;
}

.btn-secondary:disabled:hover {
    cursor: progress;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:disabled:hover {
    cursor: progress;
}

.btn-primary:not(:disabled):not(.disabled):hover {
    color: white;
    background-color: #398dff;
    border-color: #398dff;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: none;
}